
mat-toobar{
  position: sticky;
  top: 0;
  z-index: 100;
  background: #f7f7f7;
}

ul{
  li{
    list-style: none;
  }
}

button{
  border: 0;
  outline: none;
  background: transparent;
}

.user{
  font-size: 14px;
}

.user-image{
  border-radius:50%;
 
}

::ng-deep{
  .mat-menu-content{
    width: 160px;
  }
}